body{
    font-family: Arial, Helvetica, sans-serif;
}
.todo-grid,.input-group{
    display: grid;
    grid-template-columns:  200px 120px 130px 100px 100px;
    column-gap: 10px;
    row-gap: 20px;
    

}
.input-group{
    margin-bottom: 20px;
}
.name-input,.due-date-input,.due-time-input{
    font-size: 15px;
    padding: 6px;
}
.add-todo-button{
    background-color: rgb(23, 135, 23);
    color: aliceblue;
    border: none;
    font-size: 16px;
    cursor: pointer;
    
}
.delete-todo-button{
    background-color: rgb(158, 9, 9);
    color: aliceblue;
    border: none;
    font-size: 16px;
    cursor: pointer;


}